.flex1{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.flex2{
    display: flex;
    width: 50%;
    border: 1px sili;
}
.flex2_div1{
    width: 50%;
}
.flex2_div2{
    margin-left: 100px;
}

img{
    width: 400px;
    height: 200px;
}
.pagination{
    height: 40px;
    text-align: center;
    background-color: whitesmoke;
}
.pagination>button{
    width: 50px;
    height: 30px;
    margin-left: 40px;
    margin-top: 5px;
    
}
.stars{
    height: 40px;
    background-color: gray;
    text-align: center;
}
.stars>button{
    width: 50px;
    height: 30px;
    margin-left: 40px;
    margin-top: 5px;
}
.method{
    height: 40px;
    background-color: purple;
    text-align: center;
}
.method>button{
    width: 50px;
    height: 30px;
    margin-left: 40px;
    margin-top: 5px;
}